<div>
  <snippet snippet-id="django-braces"/>
  <snippet snippet-id="django-debug-toolbar"/>
  <snippet snippet-id="django-easy-select2"/>
  <snippet snippet-id="django-performance-4-simple-things"/>
  <snippet snippet-id="runserver-plus"/>
  <snippet snippet-id="shell-plus"/>
  <snippet snippet-id="web-api-performance-profiling-django-rest-framework"/>
</div>

<style></style>

<script>

component.exports = {
  isolated: true,
  twoway: false,
  components: {
    'snippet': require('rvc!components/snippet'),
  }
}
</script>
