<div>
{{#each articles}}
<article>{{{text}}}

  {{#each tags:num}}
  <div class="ui label">{{tags[num]}}</div>
  {{/each}}
</article>
{{/each}}
</div>

<style></style>

<script>
component.exports = {
  isolated: true,
  twoway: false,
  data: {
    articles: [],
  },
  oninit: function(){
    function addArticle(article) {
      component.get('articles').push({
        tags: article.properties.tags || [],
        text: markdown.toHTML(article.textInMarkdown)
      })
    }

    function parseArticle(text) {
      var properties = {}
      var markdownLines = []
      var inHeader = false

      text.split(/\n/).forEach(function(line, idx) {
        if (line === "---") {
          if (idx === 0) { inHeader = true }
          else if (inHeader) { inHeader = false }
          return
        }
        if (inHeader) {
          key_value = line.split(/: /)
          if (!key_value) {
            console.log("Ignoring property", line)
            return
          }
          properties[key_value[0]] = key_value[1]
          if (key_value[0] === 'tags') {
            properties.tags = properties.tags.split(/\s+/)
          }
        } else {
          markdownLines.push(line)
        }
      })

      return {
        properties: properties,
        textInMarkdown: markdownLines.join("\n")
      }
    }

    function parseArticleTextAndAdd(text) {
      var article = parseArticle(text)
      addArticle(article)
    }

    var component = this
    $.get('snippets/django-performance-4-simple-things.md').then(parseArticleTextAndAdd)
    $.get('snippets/django-debug-toolbar.md').then(parseArticleTextAndAdd)
    $.get('snippets/django-braces.md').then(parseArticleTextAndAdd)
  }
}
</script>
