<div>
{{#if snippetsDatas.length == 0}}
Loading ...
{{else}}
  <!-- {{#each snippetsData:idx}}
  <snippet snippet-data="{{ snippetsData[idx] }}"/>
  {{/each}} -->
  <div id="articles">
  </div>
{{/if}}
</div>

<script>
SnippetActions = require('actions/snippets')
SnippetsStore = require('stores/snippets')
Snippet = require('rvc!components/snippet')

component.exports = {
  isolated: true,
  twoway: false,
  data: {
    loading: SnippetsStore.getIdCount(),
    snippetIds: [],
    snippetsData: [],
  },
  oninit: function() {
    var component = this;
    SnippetsStore.listen(function(snippetsData) {
      var arrayWithSnippetsData = []
      ;[].push.apply(arrayWithSnippetsData, snippetsData)
      /* component.set('snippetsData', arrayWithSnippetsData) */
      arrayWithSnippetsData.forEach(function(snippetData, idx) {
        new Snippet({
          append: true,
          el: '#articles',
          data: {'snippetData': snippetData},
        })
      })
    })
    SnippetActions.loadSnippets()
  }
}
</script>
